<template>
  <v-container>
    <div v-if="exercise.name">
      <div class="title mb-3">
        {{ exercise.name }}
      </div>
      <div class="subheading">
        Категорії: {{exercise.exercise_categories.map(c => c.name).join(', ')}}
      </div>
      <div class="subheading mb-3">
        Опис: {{exercise.description}}
      </div>
      <v-toolbar flat color="white">
        <v-flex>
          <div class="subheading">Учні</div>
        </v-flex>
        <v-flex xs3 sm3 md3 mx-3>
          <v-text-field
            v-model="searchItem.name"
            label="П.І.П."
            clearable
            v-on:input="filter"
          ></v-text-field>
        </v-flex>
        <v-flex xs3 sm2 md1 mx-3>
          <v-select
            v-model="searchItem.group"
            :items="medicalGroups"
            item-text="name"
            item-value="value"
            label="Група"
            class="body-1"
            clearable
            v-on:change="filter"
          ></v-select>
        </v-flex>
        <v-flex xs3 sm2 md1 mx-3>
          <v-select
            v-model="searchItem.sex"
            :items="sex"
            item-text="name"
            item-value="value"
            label="Стать"
            class="body-1"
            clearable
            v-on:change="filter"
          ></v-select>
        </v-flex>
        <v-flex xs3 sm2 md1>
          <v-select
            v-model="searchItem.grade"
            :items="grades"
            item-text="name"
            item-value="id"
            label="Клас"
            class="body-1"
            clearable
            v-on:change="filter"
          ></v-select>
        </v-flex>
      </v-toolbar>
      <v-data-table
        :headers="headers"
        :items="students"
        item-key="id"
        rows-per-page-text="Рядки"
        no-data-text="Вправа не призначена жодному учню"
        class="elevation-5"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.name }}</td>
          <td class="text-xs-center">
            {{ props.item.grade.name }}
          </td>
          <td class="text-xs-center">
            {{ props.item.sex === 1 ? 'Чоловіча' : 'Жіноча'}}
          </td>
          <td class="text-xs-center">
            {{ props.item.medical_group.name }}
          </td>
          <td class="text-xs-center">
            {{ props.item.birthday.slice(0,10) }}
          </td>
          <td class="justify-center layout px-0">
            <v-icon
              medium
              class="mr-2"
              @click="props.expanded = !props.expanded"
            >
              insert_chart
            </v-icon>
            <v-icon
              medium
              class="mr-2"
              @click="viewStudent(props.item)"
            >
              info
            </v-icon>
          </td>
        </template>
        <template slot="expand" slot-scope="props">
          <div v-if="props.item._joinData.repeats.length">
            <v-card v-for="repeat in props.item._joinData.repeats">
              <v-card-text align-items="start">
                <v-layout>
                  <v-flex class="ml-2 mr-5" md3>
                    {{repeat.date}}
                  </v-flex>
                  <v-flex md4>
                    Виконано {{repeat.success ? 'успішно' : 'невдало'}}
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-card>
          </div>
          <div v-else>
            <v-card>
              <v-card-text>
                Немає виконань
              </v-card-text>
            </v-card>
          </div>
        </template>
      </v-data-table>
    </div>
    <div v-else>
      <div class="subheading">Завантаження даних ...</div>
    </div>
  </v-container>
</template>

<script>
  import api from '../services/api'

  export default {
    name: 'ExercisesView',
    mounted() {
      api.exercises.get(this.$route.params.id)
        .then(exercise => {
          this.exercise = exercise
          this.students = exercise.students.slice()
        })
        .catch(err => err)
      api.grades.getAll()
        .then(grades => this.grades = grades)
        .catch(err => err)
    },
    data() {
      return {
        exercise: {
          name: ''
        },
        students: [],
        grades: [],
        sex: [
          {value: 1, name: 'Чоловіча'},
          {value: 2, name: 'Жіноча'},
        ],
        medicalGroups: [
          {value: 1, name: 'Основна'},
          {value: 2, name: 'Підготовча'},
          {value: 3, name: 'Спеціальна'},
        ],
        headers: [
          {
            text: 'П.І.П. учня',
            align: 'left',
            value: 'name'
          },
          {
            text: 'Клас',
            align: 'center',
            value: 'grade_id',
          },
          {
            text: 'Стать',
            align: 'center',
            value: 'sex'
          },
          {
            text: 'Медична група',
            align: 'center',
            value: 'medical_group_id'
          },
          {
            text: 'Дата народження',
            align: 'center',
            value: 'birthday'
          },
          {
            text: 'Доступні дії',
            value: 'name',
            align: 'center',
            sortable: false
          }
        ],
        searchItem: {
          group: 0,
          name: '',
          sex: 0,
          grade: 0
        },
      }
    },
    methods: {
      filter() {
        this.students = this.exercise.students.filter(s => {
          return (
            (!this.searchItem.sex || (s.sex === this.searchItem.sex)) &&
            (!this.searchItem.group || (s.medical_group_id === this.searchItem.group)) &&
            (!this.searchItem.grade || (s.grade_id === this.searchItem.grade)) &&
            (!this.searchItem.name || s.name.includes(this.searchItem.name) )
          )
        });
      },
      viewStudent(item) {
        this.$router.push({
          name: 'studentsView',
          params: {
            id: item.id
          }
        })
      }
    }
  }
</script>

<style scoped>

</style>