<template>
  <v-container>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Пошук"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="300px">
        <v-btn slot="activator" dark class="mb-2">Новий клас</v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12 md12>
                  <v-text-field v-model="editedItem.name" label="Назва класу"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat @click.native="close">Скасувати</v-btn>
            <v-btn flat @click.native="save">Зберегти</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="grades"
      :search="search"
      :pagination.sync="pagination"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>
          <v-container align-center>
            {{ props.item.name }}
          </v-container>
        </td>
        <td class="justify-center layout px-0">
          <v-icon
            medium
            class="mr-4"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            medium
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        Завантаження даних...
      </template>
    </v-data-table>
    <div class="text-xs-center pt-2">
      <v-pagination dark v-model="pagination.page" :length="pages"></v-pagination>
    </div>
  </v-container>
</template>

<script>
  import api from '../services/api'

  export default {
    name: 'GradesIndex',
    mounted: function() {
      api.grades.getAll()
        .then(grades => this.grades = grades)
        .catch(err => console.log(err))
    },
    data: function() {
      return {
        grades: [],
        dialog: false,
        pagination: {
          rowsPerPage: 10
        },
        search: '',
        headers: [
          {
            text: 'Клас',
            align: 'left',
            sortable: true,
            value: 'name'
          },
          {
            text: 'Доступні дії',
            align: 'center',
            value: 'name',
            sortable: false
          }
        ],
        editedIndex: -1,
        editedItem: {
          name: '',
        },
        defaultItem: {
          name: '',
        }
      }
    },

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Новий клас' : 'Редагувати клас'
      },

      pages () {
        if (this.pagination.rowsPerPage == null || this.grades.length == null) return 0
        return Math.ceil(this.grades.length / this.pagination.rowsPerPage)
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    methods: {

      editItem (item) {
        this.editedIndex = this.grades.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.grades.indexOf(item)
        if (confirm('Ви впевнені, що хочете видалити цей клас?')) {
          api.grades.delete(item)
            .then(res => this.grades.splice(index, 1))
            .catch(err => console.log(err))
        }
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          const index = this.editedIndex
          api.grades.edit(this.editedItem)
            .then(grade => Object.assign(this.grades[index], grade))
            .catch(err => alert('Заповніть всі необхідні поля'))
        } else {
          api.grades.add(this.editedItem)
            .then(grade => this.grades.push(grade))
            .catch(err => alert('Заповніть всі необхідні поля'))
        }
        this.close()
      }
    }
  }
</script>

<style scoped>

</style>