<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card >
          <v-toolbar dark>
            <v-toolbar-title>Авторизація</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form v-model="valid">
              <v-text-field
                v-model="user.username"
                label="Користувач"
                prepend-icon="person"
                required
                :error="isError"
              ></v-text-field>
              <v-text-field
                v-model="user.password"
                label="Пароль"
                type="password"
                prepend-icon="lock"
                :error="isError"
                required
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn v-on:click="login" dark>Вхід</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import auth from '../services/auth'

  export default {
    name: 'Login',
    data() {
      return {
        isError: false,
        user: {
          username: 'teacher',
          password: ''
        }
      }
    },
    methods: {
      login: function () {
        this.isError = false
        auth.login(this.user)
          .then(() => {
            this.$emit('user-login')
            this.$router.push({name: 'studentsIndex'})
          })
          .catch(() => this.isError = true);
      },
    }
  }
</script>

<style scoped>

</style>