<template>
  <v-container>
    <div v-if="show">
      <v-btn light class="py-1 mx-1" v-on:click="grades">
        Класи
      </v-btn>
      <v-btn light class="py-1 mx-1" v-on:click="students">
        Учні
      </v-btn>
      <v-menu light class="mx-1" offset-y>
        <v-btn
          slot="activator"
          light
          class="py-1"
        >
          Екрани
        </v-btn>
        <v-list>
          <v-list-tile
            v-for="(item, index) in screens"
            :key="index"
            @click="item.callback"
          >
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <v-btn light class="py-1 mx-1" v-on:click="help">
        Довідка
      </v-btn>
      <v-btn
        light
        v-on:click="logout"
        class="py-1 mx-1"
      >
        Вихід
      </v-btn>
    </div>
  </v-container>
</template>

<script>
  import auth from '../services/auth'

  export default {
    name: 'Menu',
    props: ['show'],
    methods: {
      logout: function () {
        auth.logout()
        this.$emit('user-logout')
        this.$router.push({name: 'login'})
      },
      grades: function () {
        this.$router.push({path: '/grades'})
      },
      students: function () {
        this.$router.push({path: '/students'})
      },
      help() {
        this.$router.push({path: '/help'})
      }
    },
    data () {
      return {
        screens: [
          {title: 'Вправи', callback: () => this.$router.push({path: '/exercises'})},
          {title: 'Новини', callback: () => this.$router.push({path: '/news'})},
          {title: 'Теорія', callback: () => this.$router.push({path: '/theory'})},
          {title: 'Нормативи', callback: () => this.$router.push({path: '/standards'})},
        ]
      }
    }
  }
</script>

<style scoped>
</style>