<template>
  <v-container>
    <v-toolbar flat color="white">
      <v-layout>
        <v-flex md4 class="mr-3">
          <v-text-field
            v-model="searchItem.name"
            v-on:input="filter"
            append-icon="search"
            label="Назва"
            single-line
            hide-details
          ></v-text-field>
        </v-flex>
        <v-flex md5></v-flex>
        <v-flex class="ml-2">
          <v-dialog v-model="settingsDialog" max-width="300px">
            <v-btn slot="activator" dark>Налаштування</v-btn>
            <v-card>
              <v-card-title>
                <span class="headline">Налаштування</span>
              </v-card-title>
              <v-card-text>
                <v-layout>
                  <v-text-field
                    v-model="settings.title"
                    label="Назва екрану у додатку"
                  ></v-text-field>
                </v-layout>
                <v-layout>
                  <v-checkbox
                    v-model="settings.is_show"
                    label="Показувати екран у додатку"
                  ></v-checkbox>
                </v-layout>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat @click="closeSettingsDialog">Скасувати</v-btn>
                <v-btn flat @click="saveSettings">Зберегти</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-flex>
        <v-flex>
          <v-btn
            dark
            v-on:click="newNews"
          >
            Нова новина
          </v-btn>
        </v-flex>
      </v-layout>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="news"
      :pagination.sync="pagination"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>
          {{ props.item.name }}
        </td>
        <td class="text-xs-center">
          {{ props.item.description }}
        </td>
        <td class="justify-center layout px-0">
          <v-icon
            medium
            class="mr-2"
            @click="viewNews(props.item)"
          >
            insert_chart
          </v-icon>
          <v-icon
            medium
            class="mr-2"
            @click="editNews(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            medium
            @click="deleteNews(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        Завантаження даних...
      </template>
    </v-data-table>
    <div class="text-xs-center pt-2">
      <v-pagination dark v-model="pagination.page" :length="pages"></v-pagination>
    </div>
  </v-container>
</template>

<script>
  import api from '../services/api'

  export default {
    name: 'NewsIndex',

    mounted () {
      api.news.getAll()
        .then(news => {
          this.news = news
          this.newsAll = news.slice()
        })
        .catch(err => err)
      api.screens.get('news')
        .then(screen => this.settings = screen)
        .catch(err => err)
    },

    data: () => ({
      headers: [
        {
          text: 'Новина',
          value: 'name',
          align: 'left',
          width: '33%'
        },
        {
          text: 'Опис',
          value: 'description',
          sortable: false,
          width: '33%',
          align: 'center'
        },
        {
          text: 'Доступні дії',
          value: 'name',
          sortable: false,
          width: '33%',
          align: 'center'
        }
      ],
      news: [],
      newsAll: [],
      searchItem: {
        name: '',
      },
      settingsDialog: false,
      settings: {
        id: 0,
        title: '',
        is_show: true,
        screen: 'news'
      },
      pagination: {
        rowsPerPage: 20
      },
    }),

    watch: {
      settingsDialog(val) {
        val || this.closeSettingsDialog()
      }
    },

    computed: {
      pages () {
        if (this.pagination.rowsPerPage == null || this.news.length == null) return 0
        return Math.ceil(this.news.length / this.pagination.rowsPerPage)
      },
    },

    methods: {
      newNews () {
        this.$router.push({name: 'newsAdd'})
      },

      editNews (item) {
        this.$router.push({
          name: 'newsEdit',
          params: {id: item.id}
        })
      },

      viewNews (item) {
        this.$router.push({
          name: 'newsView',
          params: {id: item.id},
        })
      },

      deleteNews (item) {
        const index = this.news.indexOf(item)
        if (confirm('Ви впевнені, що хочете видалити цю новину?')) {
          api.news.delete(item)
            .then(() => this.news.splice(index, 1))
            .catch(err => err)
        }
      },

      filter() {
        this.news = this.newsAll.filter(
          exercise => !this.searchItem.name || exercise.name.includes(this.searchItem.name)
        )
        this.pagination.page = 1;
      },

      closeSettingsDialog() {
        this.settingsDialog = false;
      },

      saveSettings() {
        api.screens.edit(this.settings)
          .then(screen => this.settings = screen)
          .catch(err => err)
        this.closeSettingsDialog()
      }
    },

  }
</script>

<style scoped>

</style>