<template>
  <v-container>
    <v-toolbar flat color="white">
      <div class="subheading">
        Тимчасово не доступно
      </div>
      <v-spacer></v-spacer>
        <v-dialog v-model="settingsDialog" max-width="300px">
          <v-btn slot="activator" dark>Налаштування</v-btn>
          <v-card>
            <v-card-title>
              <span class="headline">Налаштування</span>
            </v-card-title>
            <v-card-text>
              <v-layout>
                <v-text-field
                  v-model="settings.title"
                  label="Назва екрану у додатку"
                ></v-text-field>
              </v-layout>
              <v-layout>
                <v-checkbox
                  v-model="settings.is_show"
                  label="Показувати екран у додатку"
                ></v-checkbox>
              </v-layout>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn flat @click="closeSettingsDialog">Скасувати</v-btn>
              <v-btn flat @click="saveSettings">Зберегти</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
    </v-toolbar>
  </v-container>
</template>

<script>
  import api from '../services/api'

  export default {
    name: 'StarndardIndex',
    mounted () {
      api.screens.get('standards')
        .then(screen => this.settings = screen)
        .catch(err => err)
    },
    data() {
      return {
        settingsDialog: false,
        settings: {
          id: 0,
          title: '',
          is_show: true,
          screen: 'standards'
        },
      }
    },
    watch: {
      settingsDialog(val) {
        val || this.closeSettingsDialog()
      }
    },
    methods: {
      closeSettingsDialog() {
        this.settingsDialog = false;
      },

      saveSettings() {
        api.screens.edit(this.settings)
          .then(screen => this.settings = screen)
          .catch(err => err)
        this.closeSettingsDialog()
      }
    }
  }
</script>

<style scoped>

</style>