<template>
  <v-container>
    <div v-if="student.name">
      <div class="title mb-3">{{this.student.name}}</div>
      <div class="subheading">Клас: {{this.student.grade.name}}</div>
      <div class="subheading">Група: {{this.student.medical_group.name}}</div>
      <v-layout>
        <v-flex md6 class="ma-1">
          <v-toolbar flat color="white" class="mt-3">
            <v-flex md4 class="subheading">
              Назначені вправи
            </v-flex>
            <v-spacer></v-spacer>
            <v-dialog v-model="exportDialog" max-width="400px">
              <v-btn slot="activator" dark>Експорт</v-btn>
              <v-card>
                <v-card-title>
                  <span class="headline">Експортувати вправи у файл</span>
                </v-card-title>
                <v-card-text>
                  <v-select
                    v-model="submitExportPeriod"
                    :items="exportPeriods"
                    item-text="name"
                    item-value="value"
                    label="Період"
                  ></v-select>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn flat @click="closeDialog">Скасувати</v-btn>
                  <v-btn flat @click="exportExercises">Експортувати</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
          <v-data-table
            :headers="headers"
            :items="student.exercises"
            rows-per-page-text="Рядки"
            no-data-text="Не призначено вправ"
          >
            <template slot="items" slot-scope="props">
              <tr>
                <td>{{ props.item.name }}</td>
                <td class="text-xs-center">{{ props.item.exercise_categories.map(c => c.name).join(', ') }}</td>
                <td class="justify-center layout px-0">
                  <v-icon
                    medium
                    class="mr-2"
                    @click="props.expanded = !props.expanded"
                  >
                    insert_chart
                  </v-icon>
                  <v-icon
                    medium
                    class="mr-2"
                    @click="viewExercise(props.item)"
                  >
                    info
                  </v-icon>
                </td>
              </tr>
            </template>
            <template slot="expand" slot-scope="props">
              <div v-if="props.item._joinData.repeats.length">
                <v-card v-for="repeat in props.item._joinData.repeats">
                  <v-card-text align-items="start">
                    <v-layout>
                      <v-flex class="mx-2" md5>
                        {{repeat.date}}
                      </v-flex>
                      <v-flex md4>
                        Виконано {{repeat.success ? 'успішно' : 'невдало'}}
                      </v-flex>
                    </v-layout>
                  </v-card-text>
                </v-card>
              </div>
              <div v-else>
                <v-card>
                  <v-card-text>
                    Немає виконань
                  </v-card-text>
                </v-card>
              </div>
            </template>
          </v-data-table>
        </v-flex>
        <v-flex md6 class="ma-1">
          <v-toolbar flat color="white" class="mt-3">
            <div class="subheading">
              Доступні теоретичні відомості
            </div>
          </v-toolbar>
          <v-data-table
            :headers="headers"
            :items="student.theory_details"
            rows-per-page-text="Рядки"
            no-data-text="Не надано теоретичних відомостей"
          >
            <template slot="items" slot-scope="props">
              <tr>
                <td>{{ props.item.name }}</td>
                <td class="text-xs-center">{{ props.item.theory_details_categories.map(t => t.name).join(', ') }}</td>
                <td class="justify-center layout px-0">
                  <v-icon
                    medium
                    class="mr-2"
                    @click="viewTheory(props.item)"
                  >
                    info
                  </v-icon>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>

    </div>
    <div v-else>
      <div class="subheading">Завантаження даних ...</div>
    </div>

  </v-container>
</template>

<script>
  import api from '../services/api'

  export default {
    name: 'StudentsView',

    mounted () {
      api.students.get(this.$route.params.id)
        .then(student => this.student = student)
        .catch(err => err)
    },

    data () {
      return {
        student: {
          name: '',
          grade: {
            name: ''
          },
          medical_group: {
            name: ''
          },
          exercises: []
        },
        exportDialog: false,
        headers: [
          {
            text: 'Назва',
            value: 'name',
            sortable: true,
            align: 'left',
            width: '30%'
          },
          {
            text: 'Категорії',
            sortable: false,
            align: 'center',
            width: '50%'
          },
          {
            text: 'Доступні дії',
            sortable: false,
            align: 'center',
            width: '20%'
          },
        ],
        exportPeriods: [
          {name: 'Тиждень', value: 'week'},
          {name: 'Місяць', value: 'month'}
        ],
        submitExportPeriod: null
      }
    },

    watch: {
      exportDialog(val) {
          val || this.closeDialog()
      }
    },

    methods: {

      viewExercise(item) {
        this.$router.push({
          name: 'exercisesView',
          params: {
            id: item.id
          }
        })
      },

      viewTheory(item) {
        this.$router.push({
          name: 'theoryView',
          params: {
            id: item.id
          }
        })
      },

      closeDialog() {
        this.submitExportPeriod = null;
        this.exportDialog = false
      },

      exportExercises() {
        api.students.exportExercises(this.$route.params.id, this.submitExportPeriod)
          .then(res => res)
          .catch(err => alert('Немає назачених вправ'));
        this.closeDialog()
      }
    }
  }
</script>

<style scoped>

</style>