<template>
  <v-container>
    <v-toolbar flat color="white">
      <v-flex xs3 sm3 md3 mx-3>
        <v-text-field
          v-model="searchItem.name"
          label="П.І.П."
          clearable
          v-on:input="filter"
        ></v-text-field>
      </v-flex>
      <v-flex xs3 sm2 md1 mx-3>
        <v-select
          v-model="searchItem.group"
          :items="medicalGroups"
          item-text="name"
          item-value="value"
          label="Група"
          class="body-1"
          clearable
          v-on:change="filter"
        ></v-select>
      </v-flex>
      <v-flex xs3 sm2 md1 mx-3>
        <v-select
          v-model="searchItem.sex"
          :items="sex"
          item-text="name"
          item-value="value"
          label="Стать"
          class="body-1"
          clearable
          v-on:change="filter"
        ></v-select>
      </v-flex>
      <v-flex xs3 sm2 md1>
        <v-select
          v-model="searchItem.grade"
          :items="grades"
          item-text="name"
          item-value="id"
          label="Клас"
          class="body-1"
          clearable
          v-on:change="filter"
        ></v-select>
      </v-flex>
      <v-spacer></v-spacer>
      <v-menu light offset-y>
        <v-btn
          slot="activator"
          :disabled="!selected.length"
        >
          Доступні дії
        </v-btn>
        <v-list>
          <v-list-tile>
            <v-list-tile-title>
              <v-dialog v-model="dialogGrades"  max-width="300px">
                <div slot="activator" >Змінити клас</div>
                <v-card>
                  <v-card-title>
                    <span class="headline">Змінити клас</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12 sm10 md10>
                          <v-select
                            v-model="changeGrade"
                            :items="grades"
                            item-text="name"
                            item-value="id"
                            label="Клас"
                            persistent-hint
                            return-object
                            single-line
                          ></v-select>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="closeGrades">Скасувати</v-btn>
                    <v-btn flat @click.native="saveGrades">Зберегти</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-list-tile-title>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-title>
              <v-dialog v-model="dialogExercises">
                <div slot="activator" >Назначити вправи</div>
                <v-card>
                  <v-card-title>
                    <span class="headline">Назначити вправи</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-layout row wrap>
                        <v-flex xs12 sm12 md6>
                          <v-toolbar flat color="white" class="mb-4">
                            <v-layout>
                              <v-flex md3 class="mr-3">
                                <v-text-field
                                  v-model="searchItemExercise.name"
                                  v-on:input="filterExercise"
                                  append-icon="search"
                                  label="Назва"
                                  single-line
                                  hide-details
                                ></v-text-field>
                              </v-flex>
                              <v-flex md9>
                                <v-select
                                  :items="exerciseCategories"
                                  v-model="searchItemExercise.categories"
                                  v-on:change="filterExercise"
                                  item-text="name"
                                  item-value="id"
                                  label="Категорія"
                                  append-icon="search"
                                  multiple
                                  single-line
                                  hide-details
                                  offset-y
                                ></v-select>
                              </v-flex>
                            </v-layout>
                          </v-toolbar>
                          <v-data-table
                            :headers=exercisesHeaders
                            :items="exercises"
                            v-model="selectedExercises"
                            rows-per-page-text="Рядки"
                            select-all
                            item-key="id"
                            class="elevation-5"
                          >
                            <template slot="items" slot-scope="props">
                              <td>
                                <v-checkbox
                                  v-model="props.selected"
                                  primary
                                  hide-details
                                ></v-checkbox>
                              </td>
                              <td>{{ props.item.name }}</td>
                              <td class="text-xs-center">
                                {{ props.item.exercise_categories.map(category => category.name).join(', ') }}
                              </td>
                            </template>
                            <template slot="no-data">
                              Завантаження даних...
                            </template>
                          </v-data-table>
                        </v-flex>
                        <v-flex md6>
                          <v-layout justify-center>
                            <v-flex xs12 sm5 md4 mx-3>
                              <v-text-field
                                v-model="periodEdit.interval"
                                label="Повторювати кожного"
                                type="number"
                                min="1"
                                step="1"
                              ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm5 md4 mx-3>
                              <v-select
                                :items="intervalMode"
                                v-model="periodEdit.interval_mode"
                                item-text="text"
                                item-value="value"
                                label="Період"
                                persistent-hint
                                return-object
                                single-line
                              ></v-select>
                            </v-flex>
                          </v-layout>
                          <div v-if="periodEdit.interval_mode.value === 'week'">
                            <v-layout justify-center>
                              <v-flex xs1 sm1 md1 mr-4>
                                <v-switch
                                  label="Пн"
                                  class="body-1"
                                  v-model="periodEdit.days_of_week.Mon"
                                ></v-switch>
                              </v-flex>
                              <v-flex xs1 sm1 md1 mr-4>
                                <v-switch
                                  label="Вт"
                                  class="body-1"
                                  v-model="periodEdit.days_of_week.Tue"
                                ></v-switch>
                              </v-flex>
                              <v-flex xs1 sm1 md1 mr-4>
                                <v-switch
                                  label="Ср"
                                  class="body-1"
                                  v-model="periodEdit.days_of_week.Wed"
                                ></v-switch>
                              </v-flex>
                              <v-flex xs1 sm1 md1 mr-4>
                                <v-switch
                                  label="Чт"
                                  class="body-1"
                                  v-model="periodEdit.days_of_week.Thu"
                                ></v-switch>
                              </v-flex>
                              <v-flex xs1 sm1 md1 mr-4>
                                <v-switch
                                  label="Пт"
                                  class="body-1"
                                  v-model="periodEdit.days_of_week.Fri"
                                ></v-switch>
                              </v-flex>
                              <v-flex xs1 sm1 md1 mr-4>
                                <v-switch
                                  label="Сб"
                                  class="body-1"
                                  v-model="periodEdit.days_of_week.Sat"
                                ></v-switch>
                              </v-flex>
                              <v-flex xs1 sm1 md1>
                                <v-switch
                                  label="Нд"
                                  class="body-1"
                                  v-model="periodEdit.days_of_week.Sun"
                                ></v-switch>
                              </v-flex>
                            </v-layout>
                          </div>
                          <v-layout justify-center>
                            <v-flex xs12 sm6 md5 mx-2>
                              <v-select
                                :items="endMode"
                                v-model="periodEdit.end_mode"
                                item-text="text"
                                item-value="value"
                                label="Завершити виконання"
                                persistent-hint
                                return-object
                                single-line
                              ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md5 mx-2 v-if="periodEdit.end_mode.value === 'date'">
                              <v-menu
                                :close-on-content-click="false"
                                v-model="periodEdit.datePicker"
                                :nudge-right="40"
                                lazy
                                transition="scale-transition"
                                full-width
                                min-width="290px"
                              >
                                <v-text-field
                                  slot="activator"
                                  v-model="periodEdit.end_date"
                                  label="дата"
                                  readonly
                                ></v-text-field>
                                <v-date-picker
                                  v-model="periodEdit.end_date"
                                  @input="periodEdit.datePicker = false"
                                ></v-date-picker>
                              </v-menu>
                            </v-flex>
                            <v-flex xs12 sm6 md5 mx-2 v-if="periodEdit.end_mode.value === 'repeats'">
                              <v-text-field
                                v-model="periodEdit.end_repeats"
                                type="number"
                                label="Кількість повторів"
                                min="1"
                                step="1"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="closeExercises">Скасувати</v-btn>
                    <v-btn flat @click.native="saveExercises">Зберегти</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-list-tile-title>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-title>
              <v-dialog v-model="dialogTheory">
                <div slot="activator" >Надати теоретичні відомості</div>
                <v-card>
                  <v-card-title>
                    <span class="headline">Надати теоретичні відомості</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-layout row wrap>
                        <v-flex xs12 sm12 md12>
                          <v-toolbar flat color="white" class="mb-1">
                            <v-layout>
                              <v-flex md3 class="mr-3">
                                <v-text-field
                                  v-model="searchItemTheory.name"
                                  v-on:input="filterTheory"
                                  append-icon="search"
                                  label="Назва"
                                  single-line
                                  hide-details
                                ></v-text-field>
                              </v-flex>
                              <v-flex md9>
                                <v-select
                                  :items="theoryCategories"
                                  v-model="searchItemTheory.categories"
                                  v-on:change="filterTheory"
                                  item-text="name"
                                  item-value="id"
                                  label="Категорія"
                                  append-icon="search"
                                  multiple
                                  single-line
                                  hide-details
                                  offset-y
                                ></v-select>
                              </v-flex>
                            </v-layout>
                          </v-toolbar>
                          <v-data-table
                            :headers=theoryHeaders
                            :items="theory"
                            v-model="selectedTheory"
                            select-all
                            item-key="id"
                            rows-per-page-text="Рядки"
                            class="elevation-5 mb-1"
                          >
                            <template slot="items" slot-scope="props">
                              <td>
                                <v-checkbox
                                  v-model="props.selected"
                                  primary
                                  hide-details
                                ></v-checkbox>
                              </td>
                              <td>{{ props.item.name }}</td>
                              <td class="text-xs-center">
                                {{ props.item.theory_details_categories.map(category => category.name).join(', ') }}
                              </td>
                            </template>
                            <template slot="no-data">
                              Завантаження даних...
                            </template>
                          </v-data-table>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="closeTheory">Скасувати</v-btn>
                    <v-btn flat @click.native="saveTheory">Зберегти</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <v-dialog v-model="dialog" max-width="700px">
        <v-btn slot="activator" dark class="mb-2">Додати учня</v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.last_name" label="Прізвище"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.first_name" label="Ім'я"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.middle_name" label="По-батькові"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-select
                    v-model="editedItem.grade_id"
                    :items="grades"
                    item-text="name"
                    item-value="id"
                    label="Клас"
                    persistent-hint
                    return-object
                    single-line
                  ></v-select>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-select
                    v-model="editedItem.sex"
                    :items="sex"
                    item-text="name"
                    item-value="value"
                    label="Стать"
                    persistent-hint
                    return-object
                    single-line
                  ></v-select>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-select
                    v-model="editedItem.medical_group_id"
                    :items="medicalGroups"
                    item-text="name"
                    item-value="value"
                    label="Медична група"
                    persistent-hint
                    return-object
                    single-line
                  ></v-select>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-menu
                    :close-on-content-click="false"
                    v-model="editedItem.datePicker"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="editedItem.birthday"
                      label="Дата народження"
                      readonly
                    ></v-text-field>
                    <v-date-picker
                      v-model="editedItem.birthday"
                      @input="editedItem.datePicker = false"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field
                    v-model="editedItem.pin"
                    label="Пін код"
                    readonly
                    append-icon="update"
                    :append-icon-cb="updatePin"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat @click.native="close">Скасувати</v-btn>
            <v-btn flat @click.native="save">Зберегти</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="students"
      :pagination.sync="pagination"
      v-model="selected"
      item-key="id"
      select-all
      hide-actions
      class="elevation-20"
    >
      <template slot="items" slot-scope="props">
        <td>
          <v-checkbox
            v-model="props.selected"
            primary
            hide-details
          ></v-checkbox>
        </td>
        <td>{{ props.item.name }}</td>
        <td class="text-xs-center">
          {{ props.item.grade.name }}
        </td>
        <td class="text-xs-center">
          {{ props.item.sex === 1 ? 'Чоловіча' : 'Жіноча'}}
        </td>
        <td class="text-xs-center">
          {{ props.item.medical_group.name }}
        </td>
        <td class="text-xs-center">
          {{ props.item.birthday.slice(0,10) }}
        </td>
        <td class="justify-center layout px-0">
          <v-icon
            medium
            class="mr-2"
            @click="viewItem(props.item)"
          >
            insert_chart
          </v-icon>
          <v-icon
            medium
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            medium
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        Завантаження даних...
      </template>
    </v-data-table>
    <div class="text-xs-center pt-2">
      <v-pagination dark v-model="pagination.page" :length="pages"></v-pagination>
    </div>
  </v-container>
</template>

<script>
  import api from '../services/api'

  export default {
    name: 'StudentsIndex',
    mounted: function() {
      api.refresh();

      api.students.getAll()
        .then(students => {
          this.students = students
          this.studentsAll = students.slice()
        })
        .catch(err => console.log(err))

      api.exercises.getAll()
        .then(exercises => {
          this.exercises = exercises
          this.exercisesAll = exercises.slice()
        })
        .catch(err => console.log(err))

      api.grades.getAll()
        .then(grades => this.grades = grades)
        .catch(err => console.log(err))

      api.exerciseCategories.getAll()
        .then(categories => this.exerciseCategories = categories)
        .catch(err => err)

      api.theory.getAll()
        .then(theory => {
          this.theory = theory
          this.theoryAll = theory.slice()
        })
        .catch(err => err)

      api.theoryCategories.getAll()
        .then(categories => this.theoryCategories = categories)
        .catch(err => err)
    },
    data: () => ({
      students: [],
      studentsAll: [],
      grades: [],
      exercises: [],
      exercisesAll: [],
      theory: [],
      theoryAll: [],
      sex: [
        {value: 1, name: 'Чоловіча'},
        {value: 2, name: 'Жіноча'},
      ],
      medicalGroups: [
        {value: 1, name: 'Основна'},
        {value: 2, name: 'Підготовча'},
        {value: 3, name: 'Спеціальна'},
      ],
      pagination: {
        rowsPerPage: 20
      },
      search: '',
      selected: [],
      selectedExercises: [],
      selectedTheory: [],
      dialog: false,
      dialogGrades: false,
      dialogExercises: false,
      dialogTheory: false,
      headers: [
        {
          text: 'П.І.П. учня',
          align: 'left',
          value: 'name'
        },
        {
          text: 'Клас',
          align: 'center',
          value: 'grade_id',
        },
        {
          text: 'Стать',
          align: 'center',
          value: 'sex'
        },
        {
          text: 'Медична група',
          align: 'center',
          value: 'medical_group_id'
        },
        {
          text: 'Дата народження',
          align: 'center',
          value: 'birthday'
        },
        {
          text: 'Доступні дії',
          value: 'name',
          align: 'center',
          sortable: false
        }
      ],
      editedIndex: -1,
      changeGrade: 0,
      editedItem: {
        first_name: '',
        last_name: '',
        middle_name: '',
        sex: 0,
        medical_group_id: 0,
        birthday:  new Date().toISOString().substr(0,10),
        datePicker: false,
        pin: '0000'
      },
      defaultItem: {
        first_name: '',
        last_name: '',
        middle_name: '',
        sex: 0,
        medical_group_id: 0,
        birthday:  new Date().toISOString().substr(0,10),
        datePicker: false,
        pin: '0000'
      },
      searchItem: {
        group: 0,
        name: '',
        sex: 0,
        grade: 0
      },
      periodEdit: {
        interval_mode: '',
        interval: 1,
        end_mode: '',
        end_date: '',
        end_repeats: '',
        days_of_week: {
          Mon: false,
          Tue: false,
          Wed: false,
          Thu: false,
          Fri: false,
          Sat: false,
          Sun: false
        },
        datePicker: false
      },
      periodDefault: {
        interval_mode: '',
        interval: 1,
        end_mode: '',
        end_date: '',
        end_repeats: '',
        days_of_week: {
          Mon: false,
          Tue: false,
          Wed: false,
          Thu: false,
          Fri: false,
          Sat: false,
          Sun: false
        },
        datePicker: false
      },
      intervalMode: [
        {text: 'Дня', value: 'day'},
        {text: 'Тижня', value: 'week'},
        {text: 'Місяця', value: 'month'},
      ],
      endMode: [
        {text: 'Ніколи', value: 'endless'},
        {text: 'Вибрати дату', value: 'date'},
        {text: 'Після повторів', value: 'repeats'},
      ],
      exercisesHeaders: [
        {
          text: 'Назва',
          value: 'name',
          align: 'left',
          width: '30%',
        },
        {
          text: 'Категорія',
          value: 'category',
          align: 'center',
          width: '70%',
          sortable: false,
        }
      ],
      exerciseCategories: [],
      searchItemExercise: {
        name: '',
        categories: []
      },
      theoryHeaders: [
        {
          text: 'Назва',
          value: 'name',
          align: 'left',
          width: '30%',
        },
        {
          text: 'Категорія',
          value: 'category',
          align: 'center',
          width: '70%',
          sortable: false,
        }
      ],
      theoryCategories: [],
      searchItemTheory: {
        name: '',
        categories: []
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Додати учня' : 'Редагувати учня'
      },
      pages () {
        if (this.pagination.rowsPerPage == null || this.students.length == null) return 0
        return Math.ceil(this.students.length / this.pagination.rowsPerPage)
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogGrades (val) {
        val || this.close()
      },
      dialogExercises (val) {
        val || this.close()
      },
      dialogTheory (val) {
        val || this.close()
      }
    },

    methods: {
      filter() {
        this.students = this.studentsAll.filter(s => {
          return (
            (!this.searchItem.sex || (s.sex === this.searchItem.sex)) &&
            (!this.searchItem.group || (s.medical_group_id === this.searchItem.group)) &&
            (!this.searchItem.grade || (s.grade_id === this.searchItem.grade)) &&
            (!this.searchItem.name || s.name.includes(this.searchItem.name) )
          )
        });
        this.selected = this.students;
        if (!this.searchItem.sex
          && !this.searchItem.group
          && !this.searchItem.grade
          && !this.searchItem.name
        ) {
          this.selected = [];
        }
        this.pagination.page = 1;
      },

      editItem (item) {
        this.editedIndex = this.students.indexOf(item)
        item.birthday = item.birthday.substr(0,10)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.students.indexOf(item)
        if (confirm('Ви впевнені, що хочете видалити цього учня?')) {
          api.students.delete(item)
            .then(res => this.students.splice(index, 1))
            .catch(err => console.log(err))
        }
      },

      viewItem(item) {
        this.$router.push({
          name: 'studentsView',
          params: {
            id: item.id
          }
        })
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        this.editedItem.grade_id = this.editedItem.grade_id && this.editedItem.grade_id.id
        this.editedItem.sex = this.editedItem.sex && this.editedItem.sex.value
        this.editedItem.medical_group_id = this.editedItem.medical_group_id && this.editedItem.medical_group_id.value

        if (this.editedIndex > -1) {
          const index = this.editedIndex;
          api.students.edit(this.editedItem)
            .then(student => Object.assign(this.students[index], student))
            .catch(err => alert('Заповніть всі необхідні поля'))
        } else {
          api.students.add(this.editedItem)
            .then(student => {
              this.students.push(student)
              this.close()
            })
            .catch(err => alert('Заповніть всі необхідні поля'))
        }
      },

      closeGrades () {
        this.dialogGrades = false
      },

      saveGrades() {
        api.students.changeGrade(this.selected, this.changeGrade)
          .then(() => api.students.getAll())
          .then(students => {
            this.students = students
            this.studentsAll = students.slice()
            this.closeGrades()
          })
          .catch(err => alert('Заповніть всі необхідні поля'))
      },

      updatePin() {
        this.editedItem.pin = Math.random().toString().slice(-4)
      },

      closeExercises () {
        this.dialogExercises = false
        this.selectedExercises = [];
        this.exercises = this.exercisesAll.slice();
        this.periodEdit = Object.assign({}, this.periodDefault)
      },

      saveExercises() {
        this.clearUp()
        this.periodEdit.interval_mode = this.periodEdit.interval_mode && this.periodEdit.interval_mode.value
        this.periodEdit.end_mode = this.periodEdit.end_mode && this.periodEdit.end_mode.value
        api.exercisesStudents.add(this.selectedExercises, this.selected, this.periodEdit)
          .then(() => {
            this.selected = []
            this.searchItem.grade = null
            this.searchItem.group = null
            this.searchItem.sex = null
            this.searchItemExercise.name = ''
            this.searchItemExercise.categories = [];
            this.students = this.studentsAll.slice()
            this.closeExercises()
          })
          .catch(err => {
            this.periodEdit = Object.assign({}, this.periodDefault)
            alert('Заповніть всі необхідні поля')
          })
      },

      clearUp() {
        if (this.periodEdit.interval_mode.value !== 'week') {
          delete this.periodEdit.days_of_week
        }
        switch (this.periodEdit.end_mode.value) {
          case 'endless':
            delete this.periodEdit.end_date
            delete this.periodEdit.end_repeats
            break
          case 'date':
            delete this.periodEdit.end_repeats
            break
          case 'repeats':
            delete this.periodEdit.end_date
            break
        }
      },

      filterExercise() {
        this.exercises = this.exercisesAll.filter(exercise => {
          return (
            (!this.searchItemExercise.name || exercise.name.includes(this.searchItemExercise.name)) &&
            (!this.searchItemExercise.categories.length ||
              this.searchItemExercise.categories.map(
                searchCategoryId => exercise.exercise_categories.some(
                  category => category.id === searchCategoryId
                )
              ).some(item => item)
            )
          )
        })
        this.selectedExercises = this.exercises;
        if (!this.searchItemExercise.name
          && !this.searchItemExercise.categories.length
        ) {
          this.selectedExercises = [];
        }
        this.paginationExercises.page = 1;
      },

      closeTheory () {
        this.dialogTheory = false
        this.selectedTheory = []
        this.theory = this.theoryAll.slice();
      },

      saveTheory() {
        api.theoryDetailsStudents.add(this.selectedTheory, this.selected)
          .then(() => {
            this.selected = []
            this.searchItem.grade = null
            this.searchItem.group = null
            this.searchItem.sex = null
            this.students = this.studentsAll.slice()
            this.searchItemTheory.name = ''
            this.searchItemTheory.categories = [];
            this.closeTheory()
          })
          .catch(err => alert('Заповніть всі необхідні поля'))

      },

      filterTheory() {
        this.theory = this.theoryAll.filter(theory => {
          return (
            (!this.searchItemTheory.name || theory.name.includes(this.searchItemTheory.name)) &&
            (!this.searchItemTheory.categories.length ||
              this.searchItemTheory.categories.map(
                searchCategoryId => theory.theory_details_categories.some(
                  category => category.id === searchCategoryId
                )
              ).some(item => item)
            )
          )
        })
        this.selectedTheory = this.theory;
        if (!this.searchItemTheory.name
          && !this.searchItemTheory.categories.length
        ) {
          this.selectedTheory = [];
        }
        this.paginationTheory.page = 1;
      }
    }
  }
</script>

<style scoped>

</style>