<template>
  <v-container class="elevation-5">
    <v-toolbar flat color="white">
      <v-toolbar-title>
        {{isEdit ? 'Редагувати запис' : 'Додати теоретичний запис'}}
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn v-on:click="cancelAll">Скасувати</v-btn>
      <v-btn v-on:click="saveAll" dark>Зберегти</v-btn>
    </v-toolbar>
    <v-container>
      <v-layout>
        <v-flex xs12 sm10 md6>
          <v-text-field
            v-model="theory.name"
            label="Назва"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex xs12 sm10 md6>
          <v-textarea
            v-model="theory.description"
            label="Опис"
          ></v-textarea>
        </v-flex>
      </v-layout>
    </v-container>
    <v-toolbar flat color="white">
      <v-toolbar-title>
        Компоненти
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-dialog v-model="categoryDialog" scrollable max-width="400px">
        <v-btn slot="activator" dark>Змінити категорії</v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">Змінити категорії</span>
          </v-card-title>
          <v-card-text style="height: 300px;">
            <v-checkbox
              class="mx-3"
              v-for="category in categories"
              v-model="selectedCategories[category.id]"
              :label="category.name"
            ></v-checkbox>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat @click="closeCategoryDialog">Скасувати</v-btn>
            <v-btn flat @click="saveCategories">Зберегти</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialog"  max-width="500px">
        <v-btn slot="activator" class="mb-2" dark>Додати компонент</v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">Додати компонент</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-layout wrap>
                <v-flex xs12 sm5 md4 mx-2>
                  <v-select
                    v-model="editedItem.type"
                    :items="types"
                    item-text="text"
                    item-value="type"
                    label="Тип"
                  ></v-select>
                </v-flex>
                <v-flex xs12 sm5 md7 mx-2>
                  <v-text-field
                    v-model="editedItem.label"
                    label="Підпис"
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout wrap>
                <v-flex xs12 sm12 md12 mx-2>
                  <v-textarea
                    v-if="editedItem.type === 'text'"
                    v-model="editedItem.text"
                    label="Текст"
                  ></v-textarea>
                  <div
                    v-else-if="editedItem.type === 'image'"
                  >
                    <v-text-field
                      label="Оберіть зображення"
                      @click='$refs.image.click()'
                      readonly
                      v-model='editedItem.image'
                      append-icon='attach_file'>
                    </v-text-field>
                    <input
                      type="file"
                      style="display: none"
                      ref="image"
                      accept="image/*"
                      @change="onImagePicked"
                    >
                  </div>
                  <v-text-field
                    v-else-if="editedItem.type === 'video'"
                    v-model="editedItem.video"
                    label="Посилання на відео"
                    append-icon='link'
                  ></v-text-field>
                  <v-text-field
                    v-else-if="editedItem.type === 'link'"
                    v-model="editedItem.link"
                    label="Посилання на документ"
                    append-icon='link'
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat @click.native="close">Скасувати</v-btn>
            <v-btn flat @click.native="save">Зберегти</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="theory.theory_details_components"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>
          {{ type(props.item) }}
        </td>
        <td class="text-xs-center">
          {{ props.item.label }}
        </td>
        <td class="justify-center layout px-0">
          <v-icon
            medium
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            medium
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        Порожньо
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
  import api from '../services/api'

  export default {
    name: 'TheoryAddEdit',
    mounted() {
      this.isEdit = !!this.$route.params.id
      if (this.isEdit) {
        api.theory.get(this.$route.params.id)
          .then(theory => {
            this.theory = theory
            theory.theory_details_categories.forEach(
              category => this.selectedCategories[category.id] = true
            )
          })
          .catch(err => err)
      }
      api.theoryCategories.getAll()
        .then(categories => this.categories = categories)
        .catch(err => err)
    },

    data:() => ({
      isEdit: false,
      dialog: false,
      categoryDialog: false,
      categories: [],
      selectedCategories: {},
      theory: {
        name: '',
        description: '',
        theory_details_components: [],
        theory_details_categories: [],
      },
      headers: [
        {
          text: 'Тип',
          value: 'type',
          sortable: false,
        },
        {
          text: 'Підпис',
          value: 'label',
          sortable: false,
          align: 'center',
        },
        {
          text: 'Доступні дії',
          value: 'name',
          sortable: false,
          align: 'center',
        }
      ],
      types: [
        {type: 'text', text: 'Текст'},
        {type: 'image', text: 'Зображення'},
        {type: 'video', text: 'Відео'},
        {type: 'link', text: 'Посилання'},
      ],
      editedIndex: -1,
      editedItem: {
        type: '',
        label: '',
        text: null,
        image: null,
        video: null,
        link: null,
      },
      defaultItem: {
        type: '',
        label: '',
        text: null,
        image: null,
        video: null,
        link: null,
      }
    }),

    watch: {
      dialog (val) {
        val || this.close()
      },
      categoryDialog(val) {
        val || this.closeCategoryDialog()
      }
    },

    methods: {

      type(item) {
        return this.types.find(i => i.type === item.type).text
      },

      saveAll() {
        if (this.isEdit) {
          api.theory.edit(this.theory)
            .then(() => this.$router.push({name: 'theoryIndex'}))
            .catch(err => alert('Заповніть всі необхідні поля'))
        } else {
          api.theory.add(this.theory)
            .then(() => this.$router.push({name: 'theoryIndex'}))
            .catch(err => alert('Заповніть всі необхідні поля'))
        }
      },

      cancelAll() {
        this.$router.push({name: 'theoryIndex'})
      },

      editItem(item) {
        this.editedIndex = this.theory.theory_details_components.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      save() {
        if(this.editedItem.type
          && this.editedItem.label
          && (this.editedItem.text ||
            this.editedItem.image ||
            this.editedItem.video ||
            this.editedItem.link)
        ) {
          this.clearUp()
          if (this.editedIndex > -1) {
            Object.assign(this.theory.theory_details_components[this.editedIndex], this.editedItem)
          } else {
            this.theory.theory_details_components.push(this.editedItem)
          }
          this.close()
        }
      },

      clearUp() {
        switch (this.editedItem.type) {
          case 'text':
            this.editedItem.image = null
            this.editedItem.video = null
            this.editedItem.link = null
            break;
          case 'image':
            this.editedItem.text = null
            this.editedItem.video = null
            this.editedItem.link = null
            break
          case 'video':
            this.editedItem.text = null
            this.editedItem.image = null
            this.editedItem.link = null
            break
          case 'link':
            this.editedItem.text = null
            this.editedItem.image = null
            this.editedItem.video = null
        }
      },

      deleteItem(item) {
        const index = this.theory.theory_details_components.indexOf(item)
        confirm('Ви впевнені, що хочете видалити цей компонент')
        && this.theory.theory_details_components.splice(index, 1)
      },

      close() {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      onImagePicked(e) {
        if (e.target.files && e.target.files[0]) {
          api.images.upload(e.target.files[0])
            .then(path => this.editedItem.image = path)
            .catch(err => err)
        }
      },

      closeCategoryDialog() {
        this.categoryDialog = false;
        this.selectedCategories = {};
        this.theory.theory_details_categories.forEach(
          category => this.selectedCategories[category.id] = true
        )
      },

      saveCategories() {
        this.categoryDialog = false;
        this.theory.theory_details_categories = this.categories.filter(
          category => this.selectedCategories[category.id]
        )
      }

    }
  }
</script>

<style scoped>

</style>