<template>
  <v-container>
    <v-toolbar flat color="white">
      <v-layout>
        <v-flex md2 class="mr-3">
          <v-text-field
            v-model="searchItem.name"
            v-on:input="filter"
            append-icon="search"
            label="Назва"
            single-line
            hide-details
          ></v-text-field>
        </v-flex>
        <v-flex md5>
          <v-select
            :items="categories"
            v-model="searchItem.categories"
            v-on:change="filter"
            item-text="name"
            item-value="id"
            label="Категорія"
            append-icon="search"
            multiple
            single-line
            hide-details
            offset-y
            :menu-props="{ overflow: 'scroll' }"
          ></v-select>
        </v-flex>
        <v-flex class="ml-2">
          <v-dialog v-model="settingsDialog" max-width="300px">
            <v-btn slot="activator" dark>Налаштування</v-btn>
            <v-card>
              <v-card-title>
                <span class="headline">Налаштування</span>
              </v-card-title>
              <v-card-text>
                <v-layout>
                  <v-text-field
                    v-model="settings.title"
                    label="Назва екрану у додатку"
                  ></v-text-field>
                </v-layout>
                <v-layout>
                  <v-checkbox
                    v-model="settings.is_show"
                    label="Показувати екран у додатку"
                  ></v-checkbox>
                </v-layout>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat @click="closeSettingsDialog">Скасувати</v-btn>
                <v-btn flat @click="saveSettings">Зберегти</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-flex>
        <v-flex>
          <v-dialog v-model="categoryDialog" max-width="300px">
            <v-btn slot="activator" dark>Нова категорія</v-btn>
            <v-card>
              <v-card-title>
                <span class="headline">Нова категорія</span>
              </v-card-title>
              <v-card-text>
                <v-text-field
                  v-model="newCategory"
                  placeholder="Назва"
                ></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat @click="closeCategoryDialog">Скасувати</v-btn>
                <v-btn flat @click="saveCategory">Зберегти</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-flex>
        <v-flex>
          <v-btn
            dark
            v-on:click="newExercise"
          >
            Новий запис
          </v-btn>
        </v-flex>
      </v-layout>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="theory"
      :pagination.sync="pagination"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>
          {{ props.item.name }}
        </td>
        <td class="text-xs-center">
          {{ props.item.description }}
        </td>
        <td align="center">
          {{ props.item.theory_details_categories.map(category => category.name).join(', ') }}
        </td>
        <td class="justify-center layout px-0">
          <v-icon
            medium
            class="mr-2"
            @click="viewExercise(props.item)"
          >
            insert_chart
          </v-icon>
          <v-icon
            medium
            class="mr-2"
            @click="editExercise(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            medium
            @click="deleteExercise(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        Завантаження даних...
      </template>
    </v-data-table>
    <div class="text-xs-center pt-2">
      <v-pagination dark v-model="pagination.page" :length="pages"></v-pagination>
    </div>
  </v-container>
</template>

<script>
  import api from '../services/api'

  export default {
    name: 'TheoryIndex',

    mounted () {
      api.theory.getAll()
        .then(theory => {
          this.theory = theory
          this.theoryAll = theory.slice()
        })
        .catch(err => err)
      api.theoryCategories.getAll()
        .then(categories => this.categories = categories)
        .catch(err => err)
      api.screens.get('theory')
        .then(screen => this.settings = screen)
        .catch(err => err)
    },

    data: () => ({
      headers: [
        {
          text: 'Теоретичні відомості',
          value: 'name',
          align: 'left',
          width: '20%'
        },
        {
          text: 'Опис',
          value: 'description',
          sortable: false,
          width: '25%',
          align: 'center'
        },
        {
          text: 'Категорія',
          value: 'categories',
          sortable: false,
          width: '30%',
          align: 'center'
        },
        {
          text: 'Доступні дії',
          value: 'name',
          sortable: false,
          width: '25%',
          align: 'center'
        }
      ],
      theory: [],
      theoryAll: [],
      categories: [],
      newCategory: '',
      categoryDialog: false,
      searchItem: {
        name: '',
        categories: []
      },
      settingsDialog: false,
      settings: {
        id: 0,
        title: '',
        is_show: true,
        screen: 'theory'
      },
      pagination: {
        rowsPerPage: 20
      },
    }),

    watch: {
      categoryDialog(val) {
        val || this.closeCategoryDialog()
      },

      settingsDialog(val) {
        val || this.closeSettingsDialog()
      }
    },

    computed: {
      pages () {
        if (this.pagination.rowsPerPage == null || this.theory.length == null) return 0
        return Math.ceil(this.theory.length / this.pagination.rowsPerPage)
      },
    },

    methods: {
      newExercise () {
        this.$router.push({name: 'theoryAdd'})
      },

      editExercise (item) {
        this.$router.push({
          name: 'theoryEdit',
          params: {id: item.id}
        })
      },

      viewExercise (item) {
        this.$router.push({
          name: 'theoryView',
          params: {id: item.id},
        })
      },

      deleteExercise (item) {
        const index = this.theory.indexOf(item)
        if (confirm('Ви впевнені, що хочете видалити цей запис?')) {
          api.theory.delete(item)
            .then(() => this.theory.splice(index, 1))
            .catch(err => err)
        }
      },

      closeCategoryDialog() {
        this.categoryDialog = false
        this.newCategory = ''
      },

      saveCategory() {
        api.theoryCategories.add({name: this.newCategory})
          .then(() => api.theoryCategories.getAll())
          .then(categories => {
            this.categories = categories
            this.closeCategoryDialog();
          })
          .catch(err => err)
      },

      filter() {
        this.theory = this.theoryAll.filter(theory => {
          return (
            (!this.searchItem.name || theory.name.includes(this.searchItem.name)) &&
            (!this.searchItem.categories.length ||
              this.searchItem.categories.map(
                searchCategoryId => theory.theory_details_categories.some(
                  category => category.id === searchCategoryId
                )
              ).some(item => item)
            )
          )
        })
        this.pagination.page = 1;
      },

      closeSettingsDialog() {
        this.settingsDialog = false;
      },

      saveSettings() {
        api.screens.edit(this.settings)
          .then(screen => this.settings = screen)
          .catch(err => err)
        this.closeSettingsDialog()
      }
    },
  }
</script>

<style scoped>

</style>