<template>
  <v-app>
    <v-toolbar app dark>
      <v-toolbar-title class="headline text-uppercase">
        <span>Best Coach</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <Menu
          :show="isShowMenu"
          v-on:user-logout="isShowMenu=false"
        />
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <router-view v-on:user-login="isShowMenu=true">
      </router-view>
    </v-content>
  </v-app>
</template>

<script>

import Menu from './components/Menu'
import auth from './services/auth'

export default {
  name: 'App',
  components: {Menu},
  data () {
    return {
      isShowMenu: auth.user()
    }
  }
}
</script>
